.subject-list-container-examtype {
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem;
  /* margin-bottom: 25px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  min-height: 250px;
  max-height: 250px;
  border: #db3525 1px solid;
}

.subject-list-container-examtype h1{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btnEdit{
  background-color: #db3525;
  margin: auto;
  display: table;
  color: #fff;
  font-size: 16px;
  margin-top: 1rem;
}





/* @media only screen and (min-width: 320px) and (max-width: 767px) {
  .examType{
    display: block !important;
    text-align: center;
  }
  .examType span{
    display: block !important;
  }
  } */