<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body style="font-family: 'Poppins', sans-serif;">
    <table
    style="margin: auto; display: table; width: 600px; background:  #0EA59E; border-radius: 30px;  padding:3px; text-align: center;border-spacing: 0px;">

        <tbody style="background: #fff;border-radius: 28px 28px;display: table; width: 100%; padding-bottom: 2rem; padding-top: 2rem;">
            <tr>
                <td style="padding: 0;">
                    <img src="https://api.dev.aieze.in/api/v1/admin/cdn/file?file_name=public/forgot-password.png" alt="" style="width: 50%;">
                </td>
            </tr>
            <tr>
                <td style="background: #0EA59E; padding: 2rem; display: block; margin-top: 3rem; margin-bottom: 3rem;">
					<p style="font-weight: 500;font-size: 15px;text-align: center;color: #fff; margin: 0; margin-top: 1rem;">
                        Dear <span style="color:#fff;"><%= name %>,</span>
					</p>
                    <p style="font-weight: 500;font-size: 15px;text-align: center;color: #fff; margin: 0; ">
                        <b><%=otp%></b> is the OTP for forgot password. This
                    </p>
                    <p style="font-weight: 500;font-size: 15px;text-align: center;color: #fff; margin: 0; "> is valid
                        for <%=duration%> mins. Do not share this OTP</p>
                    <p style="font-weight: 500;font-size: 15px;text-align: center;color: #fff; margin: 0; "> with
                        anyone. - ERP School</p>

                </td>
            </tr>

        </tbody>
    </table>

</body>

</html>