<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body style="font-family: 'Poppins', sans-serif;">
    <table
    style="margin: auto; display: table; width: 600px; background:  #0EA59E; border-radius: 30px;  padding:3px; text-align: center;border-spacing: 0px;">

        <tbody style="background: #fff;border-radius: 28px 28px;display: block; padding-bottom: 2rem; padding-top: 2rem;">
           
            <tr>
                <td>
                    <p
                        style="font-weight: 500;font-size: 15px;text-align: center;color: #000000; margin: 0; ">
                        Dear <span style="color:#0EA59E;"><%= name%></span></p>
                    <p style="font-weight: 500;font-size: 15px;text-align: center;color: #000000; margin: 0;">
                        Your password has been reset successfully.
                    </p>
                    <p style="font-weight: 500;font-size: 15px;text-align: center;color: #000000; margin: 0;">
                        Kindly login with password: <span style="color:#0EA59E;"> <%= password%></span> </p>
                   
                </td>
            </tr>
            <tr>
                <td style="padding: 0;">
                    <img src="https://api.dev.aieze.in/api/v1/admin/cdn/file?file_name=public/reset-password.png" alt="" style="width: 85%; margin-top: 1rem;">
                </td>
            </tr>

        </tbody>
    </table>

</body>

</html>