.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: none !important;
  min-height: 520px;
}



th {
  color: black;
  font-size: 17px !important;
  background-color: aliceblue;
  padding: 10px;
}

tr {
  color: grey !important;
  font-size: 15px !important;
}

td {
  padding: 10px;
}

.p-column-title {
  margin-right: 5px;
}

.p-paginator {
  justify-content: center;
  margin-top: 25px;
  color: grey;
}



.p-paginator-current {
  margin-left: 10px;
  margin-right: 10px;
}

.p-paginator-element {
  margin-right: 10px;
}

.p-dropdown {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 3px;
  width: auto !important;
  align-items: center;
}

.p-inputtext {
  padding-top: 6px;
}
.p-paginator .p-paginator-current {
  color: #db3525;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  color: #db3525;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #db3525;
  border-color: #db3525;
  border-radius: 50% !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #db3525;
}

/* .p-datatable .p-datatable-tbody > tr.p-highlight{
  background: #FDF5F4;
  ;
} */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    height: auto;
    min-height: auto;
    padding: 10px;
  }
  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last, .p-paginator-pages{
    margin-bottom: 1rem;
  }
 
}