.student-profileData-container-section {
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem 1rem;
  /* margin-bottom: 25px; */
  /* display: flex;
    align-items: center;
    justify-content: space-between; */
  min-height: 603px;
  max-height: 373px;
  width: 100%;
  background-color: #fcebea;
}
.student-profileData-container-section h1 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 75px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.profile-pic {
  padding: 70px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.border-bottom {
  border: 1px solid #f1aea8 !important;
}

.button-margin {
  margin-right: 10px;
}
.heading {
  font-size: 30px;
  font-weight: 600;
}

.personal_details {
  font-weight: 600;
  font-size: 15px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.student-name {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  /* margin-top: 0%; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.button-tab {
  border: 1px solid #E7E6E9;
  border-radius: 8px;
}
.Father_namee{
  padding-top:7px;

}
