.otp-area {
  width: 90%;
  margin: 6px auto;
  display: flex;
  gap: 20px;
  height: 50px;
}
.input {
  width: 50px;
  padding: 10px;
  outline: none;
  text-align: center;
}

.time {
  color: red;
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}
.mb-4 {
  margin-bottom: 0.5rem !important;
}
.resend {
  color: black;
  size: 10;
}
.mainnn {
  padding: 1rem;
}
